/* リセット */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 基本設定 */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", sans-serif;
    line-height: 1.6;
}

/* リンク */
a {
    text-decoration: none;
    color: inherit;
}

/* リスト */
ul,
li {
    list-style: none;
}

.nav {
    background-color: #333;
    padding: 10px;
    color: white;
    display: flex;
}

.container {
    width: 80%;
    margin: 0 auto;
}